<launch>   

    <arg name="distance_between_goals_m" default="0.5" />  
    <arg name="robot_raduis" default="0.3" />  
    <arg name="exploration_score" default="70.0" />      

   

    <node name="map_coverage_node" pkg="map_coverage" 
            type="map_coverage_node">   

            <param name="distance_between_goals_m" value="$(arg distance_between_goals_m)" /> 
            <param name="robot_raduis" value="$(arg robot_raduis)" /> 
            <param name="exploration_score" value="$(arg exploration_score)" /> 

       
    </node>

    


</launch>
